<!-- src/app/photo-upload/photo-upload.component.html -->
<section class="smart-scroll">
    <!-- ... (existing code) ... -->
</section>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center flex flex-col justify-center">
                <h1 class="heading-black text-capitalize text-primary">ছবিকথন </h1>
                <p class="heading-black text-center mb-4"> Generate captions for images in Bangla</p>
                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                <div class="upload">
                    <p class="lead py-3">Upload an image here</p>
                    <button class="btn btn-primary d-inline-flex flex-row align-items-center mb-4"  (click)="onUpload()">
                        Upload
                        <em class="ml-2" data-feather="arrow-right"></em>
                    </button>
                </div>
                <div class="photo-frame" *ngIf="selectedFileUrl">
                    <img class="uploaded-img" [src]="selectedFileUrl" alt="Selected Photo">
                </div>
                <div *ngIf="selectedFileUrl" class="result-container">
                    <p class="caption" *ngIf="generating">Generating Captions......... </p>
                    <p class="caption" *ngIf="cnt==4">Caption 1: {{ uploadedCaption1 }}</p>  
                    <p class="caption" *ngIf="cnt==4">Caption 2: {{ uploadedCaption4 }}</p>  
                    <p class="caption" *ngIf="cnt==4">Caption 3: {{ uploadedCaption3 }}</p>  
                    <p class="caption" *ngIf="cnt==4">Caption 4: {{ uploadedCaption2 }}</p>  

                    <!-- Add the text box for user feedback -->
                    <div *ngIf="generating" class="improve-model">
                        <label for="improveModelFeedback" class="mb-2">Help us improve the model. Provide a caption for the image</label>
                        <textarea id="improveModelFeedback" class="form-control" rows="4" placeholder="Your feedback"></textarea>
                    
                        <!-- Add the submit button -->
                        <button class="btn btn-primary d-inline-flex flex-row align-items-center mt-3" (click)="addCaption()">
                            Submit
                            <em class="ml-2" data-feather="arrow-right"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
